h1{
	color:white;
}

a:hover{
	/*font-size:150%;*/
	/*background-color: #DDD;*/
}
h1{
    text-align: center;
    color:white;
}
.btn {
  font-size:150%;
  position:relative;
}
a{
  text-decoration: none;
  color:white;
}
a:visited{
  color:white;
}
a:hover {
   text-decoration: none;
   color:white;
}
.menu_dropdown{
  position: relative;
  top: 10px;
  left: 0px;
  display:none;
  text-align:center;
  padding-bottom:9px;
}
.menu_dropdown button{
  background: rgba(35,119,186, .6);
  border-color: rgba(35,119,186, .6);

}      
.nopadding{
   padding-left: 3px !important;
   padding-right: 3px !important;
   margin: 0 !important;
}
body{
  color:white;
  background: url("images/space.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: "VT323";
  padding-left:4px;
  padding-right:4px;
}
#graphicsmenu{
  width:100%;
}
#graphicsmenu button{
  font-size:115%;
  width:100%;
  text-align:left;
  margin-bottom:2px;
}
#webmenu button{
  font-size:100%;
  width:100%;
  text-align:left;
   margin-bottom:2px;
}
button {
  width:100%;
  margin-bottom:2px;
}
.col-sm-4{
  width: 100%;
}
#contact{
  position:fixed;
  bottom:0px;
  font-size:130%;
  width:100%;
  margin-left:auto;
  margin-right:auto;
  background-color: black;
  color:black;
/*  border:1px solid white;*/
}
#contact form{
  margin:auto;
  text-align:center;
}
#ass {
  margin-bottom:40px;
}
input[type="submit"]{
  color:black;
}
input[type="text"]{
  color:black;
}
input[type="email"]{
  color:black;
}
