	body{
		margin:0px;
		font-family: sans-serif;
		
	}
	h1{
		font-size:130%;
	}
	 #header {
	 	position:relative;
	 	top:0px;
	 	width: 100%;
	 	height: 55px;
	 	font-size:12px;	 	
	 	background-color: black;
	 	z-index: 100;
	}
	a {
		text-decoration: none;
		color: white;
	}
	a:hover{
		color:#336C9F ;
		color: white;
	}
	.button {
	 	float: right;
	 	width:20%;
	 	height:100%;
	 	text-align: center;
	 	font-family: sans-serif;
	 	padding-top:15px;
	 	padding-bottom: 30px;
	 	box-sizing: border-box;
	 	
	 }
	.button:hover {
		background-color: orange;
	 }
	#header2 {
		width:100%;
		position:fixed;
		top:0px;
		background-color: black;
		font-size:12px;
		z-index:10;
		/*background-image: url("pokemon.png");*/
		}
	.button2 {
		float: right;
	 	width:33%;
	 	text-align: center;
	 	font-family: sans-serif;
	 	box-sizing: border-box;
	}
	.button2:hover{
		font-size:200%;
	}
	#text {
		width:95%;
		
		margin:auto;
		margin-left: 2%;
	}/*
	#char:hover {
		background-image: url("pokemon.jpg");
	
		background-position-y:-600px;
		background-position-x:-900px;

	}*/
	 #page_title {
	 /*	width: 600px;*/
	 	height: 30px;
	 	text-align: center;
	 	font-size: 100%;
	 	border-bottom:1px solid black ;
	 	margin:auto;
	 	margin-top: 10px;
	 /*	margin-bottom: 20px;*/
	 }	
	 #sim_title {
	 /*	width: 600px;*/
	 	height: 40px;
	 	text-align: center;
	 	font-size: 100%;
	 	border-bottom:1px solid black ;
	 	margin:auto;
	 	margin-top: 10px;
	 /*	margin-bottom: 20px;*/
	 }	
	 #content_region {
	 	border-left:1px solid black;
	 	border-right:1px solid black;
	 	/*border-top: 1px solid black;*/
	 	background-color: orange;
	
	 	padding-left: 2%;
	 	padding-top:20px;
	 	padding-bottom:30px;
	 	/*width: 600px;*/
	 }
	 #col1 {
	 	float:left;
	 	width:100%;
	 	padding-top:190px;
	 }
	 #col2{
	 	float:right;
	 	width:100%
	 	height:300px;
	 	
	 	
	 }
	.footCol{
		width:100%;
		text-align:center;
		float:right;
		
		font-size:10px;
		/*padding-bottom:5px;*/
		
	
	}
	
	#footer {
		width:100%;
		height:40px;
		background-color: black;
		color:white;
		position:fixed;
		bottom: 0px;
		font-size:10px;

	}
	.clearer {
		clear:both;
	}
	#image {
		position:absolute;
		
		left:25%;
		top:95px;
		width:200px;
		object-fit: contain;
		z-index:1;
	}
	#charX {
		border: none;
		float:left;
		height:100%;
		object-fit: contain;
	}
	#charY {
		border: none;
		float:right;
		height:100%;
		object-fit: contain;
	}
	#buttonbig {
		width:50px;
		height:50px;
		position:absolute;
		border: none;
		left:20px;
		padding:2px;


	}
	img {
		border: 1px solid black;
	}