body{
		margin:0px;
		font-family: sans-serif;
		
	}
	h1 {
		font-size: 170%;
	}
	 #header {
	 	position:relative;
	 	top:0px;
	 	width: 100%;
	 	height: 80px;	 	
	 	background-color: black;
	 	z-index: 100;
	}
	a {
		text-decoration: none;
		color: white;
	}
	a:hover{
		color:#336C9F ;
		color: white;
	}
	.button {
	 	float: right;
	 	/*margin-top: 30px;*/
	 	width:22%;
	 	height:100%;
	 	text-align: center;
	 	font-family: sans-serif;
	 /*	border: 1px solid black;*/
	 	padding-top:30px;
	 	padding-bottom: 30px;
	 	box-sizing: border-box;
	 	
	 }
	.button:hover {
		background-color: orange;
	 	
	 	
	}
	#video{
	 	width:560px;
	 	margin:auto;
	 	
	 	padding-bottom:20px;
	}
	#header2 {
		width:100%;
		position:fixed;
		top:0px;
		background-color: black;
		font-size:14px;
		z-index:10;
		/*background-image: url("pokemon.png");*/
		}
	.button2 {
		float: right;
	 	width:33%;
	 	text-align: center;
	 	font-family: sans-serif;
	 	box-sizing: border-box;
	}
	.button2:hover{
		font-size:200%;

	}#text {
		width:95%;
		
		margin:auto;
		
	}/*
	#char:hover {
		background-image: url("pokemon.jpg");
	
		background-position-y:-600px;
		background-position-x:-900px;

	}*/
	 #page_title {
	 /*	width: 600px;*/
	 	height: 40px;
	 	text-align: center;
	 	font-size: 200%;
	 	border-bottom:1px solid black ;
	 	margin:auto;
	 	margin-top: 10px;
	 /*	margin-bottom: 20px;*/
	 }	
	 #sim_title {
	 /*	width: 600px;*/
	 	height: 40px;
	 	text-align: center;
	 	font-size: 130%;
	 	border-bottom:1px solid black ;
	 	margin:auto;
	 	margin-top: 10px;
	 /*	margin-bottom: 20px;*/
	 }	
	 #content_region {
	 	border-left:1px solid black;
	 	border-right:1px solid black;
	 	/*border-top: 1px solid black;*/
	 	background-color: orange;
	 	
	 	
	 	
	 	padding-left: 10px;
	 	padding-top:20px;
	 	padding-bottom:50px;
	 	/*width: 600px;*/
	 }
	 #col1 {
	 	float:left;
	 	width:50%;
	 }
	 #col2{
	 	float:right;
	 	width:40%
	 	
	 	
	 }
	.footCol{
		width:100%;
		text-align:center;
		float:right;
		padding-top:5px;
		/*padding-bottom:5px;*/
		
	
	}
	#footer {
		width:100%;
		height:55px;
		background-color: black;
		color:white;
		position:fixed;
		bottom: 0px;

	}
	.clearer {
		clear:both;
	}
	#image {
		position:absolute;
		right:2.7%;
		top:130px;
		width:35%;
	}
	#charX {
		border: none;
		float:left;
		height:100%;
		object-fit: contain;
	}
	#charY {
		border: none;
		float:right;
		height:100%;
		object-fit: contain;
	}
	#buttonbig {
		width:75px;
		height:75px;
		position:absolute;
		border: none;
		left:20px;
		padding:2px;

	}
	img {
		border: 1px solid black;
	}